<h4>介護情報</h4>

<div class="center hero-unit">
  <h1>Kaigo App </h1>

  <h2>
    ここに情報を記載します。
  </h2>

  <h4>
    表の形式で表示する
  </h4>

</div>

<%= link_to "サインアップ", signup_path, class: "btn btn-large btn-primary" %>

