<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
	種別:<br>
	<%= @user.shubetu %><br>
	お名前:<br>
        <%= @user.name %><br>
	email :<br>
	<%= @user.email %>
      </h1>
    </section>
  </aside>
</div>