<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>

	種別:<br>
	<%case @user.shubetu%>
	 <%when "riyousha" then%>
  	   利用者 <br>
	 <%when "care_manager" then%>
	   ケアマネ <br>
	 <%when "sisetu" then%>
	   施設 <br>
	<%end%>

	お名前:<br>
        <%= @user.name %><br>
	email :<br>
	<%= @user.email %><br>

        <%= link_to "About", about_path, class: "btn btn-large btn-primary" %>

      </h1>
    </section>
  </aside>
</div>