<footer class="footer">

<% case yield(:title) %>
 <%when "About" then%>
  概要
 <%when "Help" then%>
  質問
 <%when "" then%>
  トップ
 <%when "Sign up" then%>
  登録
 <%when "Sign in" then%>
  ログイン
 <%when "All users" then%>
  全ユーザー
 <%else%>
  ユーザー : <%= @current_user.name %>
<%end%>

<p><%= yield(:title) %></p>
<li><%= link_to "ヘルプ",  help_path %></li>
</footer>